<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {{> header}}
    <title>Principal</title>
</head>
<body>
    <section class="texto">
    <h1 class="playwrite-nz-basic-guides-regular">{{site.title}}</h1>
    <h1 class="playwrite-nz-basic-guides-regular">{{site.subtitle}}</h1>
    </section>
    <ul>
        <section class="orden">
            {{#each cities.cities}}
                {{#if coastal}}
                    <span class="badge coastal">🌊 Costanera</span>
                    {{else}}
                    <span class="badge inland">Interior</span>
                {{/if}}

                

                <li>
                    <strong>{{name}}</strong> - {{lookup ../countries.countries country}}:
                    {{#if population}}
                        {{population}} habitants
                            
                            {{#if (lte population 800000)}}
                                (Gran)
                            {{else}}
                                (Petita)
                            {{/if}}    
                        
                        {{else}}
                        <em>Población desconocida</em>
                    {{/if}}
                </li>
            {{/each}}
        </section>
    </ul>
</body>
</html>